*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body {
 background: #222;
}
.card {
    width: 70%;
    max-width: 470%;
    background:linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} 
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img {
    width: 40px;
    height: 40px;
}
.weather-icon {
    width: 150px;
    height: 150px;
    margin: 20px 0;
}
.col img{
    width: 160px;
    height:160px;
    mix-blend-mode: multiply ;    
    
}
.weather h1 {
    
    font-size: 64px;
    font-weight: 600;
}
.weather h2 {
    
    font-size: 45px;
    font-weight: 500;
    margin-top:-10px; ;
}
.details {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 0 20px;
    align-items: center;
}
.weather p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    text-transform: capitalize;
    
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left ;
}
/* .city {
    color: black;
    font-size: 30px;
    font-weight: 600;
}
.temp {
    color: black;
    font-size: 30px;
    font-weight: 600;
} */